// Navigation
nav {
    &.navbar {
        &.navbar-top {
            position: relative;
            z-index: 1000;
            margin: 0;

            .navbar-nav {
                display: inline-block;
            }

            .navbar-right {
                float: right;
            }

            li {
                float: left;
                display: block;
            }
        }
    }

    &.sidebar {
        background: $sidebar-bg;
        position: relative;
        border-bottom: 1px solid #ddd;

        .sidebar-header {
            width: 100%;
            display: block;
            padding: 10px 15px;
            margin: 0;
            text-align: left;
            position: relative;
            height: 70px;
            line-height: 50px;

            .sidebar-brand {
                font-size: 20px;
                height: 50px;
                line-height: 50px;
                display: inline-block;
                color: #fff;
                @include transition(color ease .3s);

                i {
                    font-size: 30px;
                }

                &:hover, &:focus {
                    text-decoration: none;
                    color: lighten($brand-primary, 25%);
                }
            }

            .sidebar-toggle {
                float: right;
                color: #fff;
                margin: 10px 0;
                height: 30px;
                line-height: 30px;

                i {
                    vertical-align: middle;
                }
            }
        }

        .sidebar-collapse {
            border-top: 1px solid $sidebar-border-color;

            .sidebar-content {
                padding: 15px;
                color: $sidebar-text-color;
                display: none;
                background: lighten($sidebar-bg, 2.5%);

                ul, p {
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }

            }

            .sidebar-nav {
                background: $sidebar-bg;
                border-top: 0;

                li {
                    margin: 1px 0 0 0;

                    a {
                        @include transition(all ease .3s);
                        color: $sidebar-link-color;
                        padding: 10px 25px 10px 22px;
                        height: 44px;
                        line-height: 24px;
                        font-family: $headings-font-family;
                        font-size: 16px;
                        font-weight: normal;
                        border-left: 3px solid $sidebar-link-border-color;

                        .icon {
                            margin-right: 10px;
                            font-size: 14px;
                        }

                        .arrow {
                            float: right;
                            height: 24px;
                            line-height: 24px;

                            &:before {
                                content: "\f104";
                            }
                        }

                        &:hover, &:focus {
                            background: $sidebar-link-hover-bg;
                            color: $sidebar-link-hover-color;
                            border-color: $sidebar-link-hover-border-color;
                        }
                    }

                    ul {
                        li {
                            &.active {
                                > a {
                                    color: $sidebar-link-active-color;
                                    background: $sidebar-link-active-bg;
                                    border-color: $sidebar-link-active-border-color;

                                }
                            }

                            a {
                                padding: 6px 25px 6px 57px; // Second-level
                                height: 36px;
                            }

                            ul li a {
                                padding-left: 77px; // Third-level
                            }
                        }
                    }

                    &.active {
                        > a {
                            background: $sidebar-link-active-bg;
                            border-color: $sidebar-link-active-border-color;

                            i {
                                color: $sidebar-link-active-color;
                            }

                            .arrow {
                                &:before {
                                    content: "\f107";
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width:768px) {
    nav {
        &.navbar {
            &.navbar-top {
                border: 0;
                position: fixed;
                width: 100%;
                @include box-shadow(0 1px 0 rgba(0, 0, 0, 0.08), 0 2px 0 rgba(0, 0, 0, 0.02));

                .navbar-text {
                    padding-left: 15px;
                }
            }
        }

        &.sidebar {
            top: 0;
            bottom: 0;
            overflow-y: auto;
            overflow-x: hidden;
            min-height: 100vh;
            z-index: 2000;
            position: fixed;
            width: 250px;
            border-bottom: 0;
            margin: 0;

            .sidebar-header {
                height: $navbar-height;
                line-height: $navbar-height - 20px;

                .sidebar-toggle {
                    display: none;
                }

                .sidebar-brand {
                    height: 30px;
                    line-height: 30px;
                }
            }

            .sidebar-collapse {
                border-top: 0;
                display: block;

                .sidebar-content {
                    display: block;
                }

                .sidebar-nav {
                    padding: 15px 0;
                }
            }
        }
    }
}