// Variables
$gray-base: #000 !default;
$gray-darker: #222;
$gray-dark: #444;   // #333
$gray: #666; // #555
$gray-light: #E6E6E6; //
$gray-lighter: #F2F2F2; //

$brand-primary: #333;
$brand-secondary: #d55d4e;

// #F5846B
$brand-success: #43AC6A;
$brand-info: #528FC4;
$brand-warning: #EA981E;
$brand-danger: #DB4C4C;

$text-color: $gray-dark;

$font-family-sans-serif: 'Roboto', sans-serif;
$headings-font-family: 'Roboto Condensed', sans-serif;
$brand-font-family: 'Roboto Condensed', sans-serif;

$page-wrapper-bg: $gray-lighter;

$headings-small-color: $gray;
$headings-font-weight: 600;
$font-size-h1: 32px;
$font-size-h2: 24px;
$font-size-h3: 18px;
$font-size-h4: 16px;
$font-size-h5: 14px;
$font-size-h6: 14px;

$input-bg: #fcfcfc;
$input-color: #555;
$input-border: #ddd;
$input-border-focus: $input-border;

$sidebar-bg: $brand-primary;
$sidebar-link-color: #fff;
$sidebar-link-border-color: transparent;
$sidebar-link-hover-color: #fff;
$sidebar-link-hover-bg: darken($sidebar-bg, 2.5%);
$sidebar-link-hover-border-color: transparent;
$sidebar-link-active-color: #fff;
$sidebar-link-active-bg: darken($sidebar-bg, 2.5%);
$sidebar-link-active-border-color: $brand-secondary;
$sidebar-border-color: lighten($sidebar-bg, 5%);
$sidebar-text-color: #fff;

$sidebar-header-bg: $brand-secondary;
$sidebar-brand-color: #fff;
$sidebar-brand-hover-color: #fff;

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

$btn-inverse-color: #fff;
$btn-inverse-bg: $gray-dark;
$btn-inverse-border: darken($btn-inverse-bg, 5%);

$panel-footer-bg: #fff;


$panel-heading-padding: 15px;

$panel-default-border: $gray-lighter;
$panel-default-heading-bg: #fff;

$panel-secondary-text: #fff;
$panel-secondary-border: $brand-secondary;
$panel-secondary-heading-bg: $brand-secondary;
$panel-secondary-link-color: $brand-secondary;
$panel-secondary-link-hover-color: darken($brand-secondary, 15%);

$panel-success-text: #fff;
$panel-success-border: $brand-success;
$panel-success-heading-bg: $brand-success;
$panel-success-link-color: $brand-success;
$panel-success-link-hover-color: darken($brand-success, 15%);

$panel-info-text: #fff;
$panel-info-border: $brand-info;
$panel-info-heading-bg: $brand-info;
$panel-info-link-color: $brand-info;
$panel-info-link-hover-color: darken($brand-info, 15%);

$panel-warning-text: #fff;
$panel-warning-border: $brand-warning;
$panel-warning-heading-bg: $brand-warning;
$panel-warning-link-color: $brand-warning;
$panel-warning-link-hover-color: darken($brand-warning, 15%);

$panel-danger-text: #fff;
$panel-danger-border: $brand-danger;
$panel-danger-heading-bg: $brand-danger;
$panel-danger-link-color: $brand-danger;
$panel-danger-link-hover-color: darken($brand-danger, 15%);


$navbar-default-bg: #fff;
$navbar-default-color: $gray;
$navbar-default-border: $gray-lighter;
$navbar-default-link-color: $gray;
$navbar-default-link-active-bg: $gray-lighter;
$navbar-default-link-active-color: $gray-dark;

$navbar-inverse-bg: $gray-dark;
$navbar-inverse-link-color: #fff;
$navbar-inverse-link-hover-bg: $gray-darker;
$navbar-inverse-link-hover-color: $brand-primary;

$state-success-text: #fff;
$state-success-bg: $brand-success;
$alert-success-border: darken($brand-success, 5%);

$text-muted: $gray;

/*
$state-info-text: #fff;
$state-info-bg: $brand-info;
$alert-info-border: $brand-info;

$state-warning-text: #fff;
$state-warning-bg: $brand-warning;
$alert-warning-border: $brand-warning;

$state-danger-text: #fff;
$state-danger-bg: $brand-danger;
$alert-danger-border: $brand-danger;*/