// Variables
$gray-base: #000;
$gray-darker: #222;
$gray-dark: #444;
$gray: #666;
$gray-light: #E6E6E6;
$gray-lighter: #F2F2F2;

$brand-primary: #d55d4e;
$brand-secondary: #32323A;

// #F5846B
$brand-success: #43AC6A;
$brand-info: #528FC4;
$brand-warning: #EA981E;
$brand-danger: #DB4C4C;

$text-color: $gray-dark;

$link-color: $brand-secondary;

$font-family-sans-serif: 'Roboto', sans-serif;
$headings-font-family: 'Roboto Condensed', sans-serif;
$brand-font-family: 'Roboto Condensed', sans-serif;

$page-wrapper-bg: $gray-lighter;

$headings-small-color: $gray;
$headings-font-weight: 600;
$font-size-h1: 32px;
$font-size-h2: 24px;
$font-size-h3: 18px;
$font-size-h4: 16px;
$font-size-h5: 14px;
$font-size-h6: 14px;

$input-bg: #fcfcfc;
$input-color: #555;
$input-border: #ddd;
$input-border-focus: $input-border;

$sidebar-bg: $brand-secondary;

$sidebar-link-color: #fff;
$sidebar-link-border-color: transparent;

$sidebar-link-hover-color: $brand-primary;;
$sidebar-link-hover-bg: darken($sidebar-bg, 2.5%);
$sidebar-link-hover-border-color: transparent;

$sidebar-link-active-color: $brand-primary;
$sidebar-link-active-bg: darken($sidebar-bg, 2.5%);
$sidebar-link-active-border-color: transparent;

$sidebar-sublink-color: $sidebar-link-color;
$sidebar-sublink-border-color: $sidebar-link-border-color;

$sidebar-sublink-hover-color: $sidebar-link-hover-color;
$sidebar-sublink-hover-bg: darken($sidebar-bg, 5%);
$sidebar-sublink-hover-border-color: $sidebar-link-hover-border-color;

$sidebar-sublink-active-color: $brand-primary;
$sidebar-sublink-active-bg: transparent;
$sidebar-sublink-active-border-color: transparent;

$sidebar-border-color: lighten($sidebar-bg, 5%);
$sidebar-text-color: #fff;

$sidebar-header-bg: $brand-secondary;
$sidebar-header-border-color: transparent;
$sidebar-brand-color: #fff;
$sidebar-brand-hover-color: #fff;

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

$btn-inverse-color: #fff;
$btn-inverse-bg: $gray-dark;
$btn-inverse-border: darken($btn-inverse-bg, 5%);

$btn-default-bg: $gray-light;

$btn-secondary-color: #fff;
$btn-secondary-bg: $brand-secondary;
$btn-secondary-border: darken($btn-secondary-bg, 5%);

$nav-pills-active-link-hover-bg: $brand-secondary;

$nav-link-hover-bg: transparent;
$nav-tabs-border-color: $gray-lighter;
$nav-tabs-active-link-hover-border-color: $nav-tabs-border-color;
$nav-tabs-link-hover-border-color: transparent;

$panel-footer-bg: #fff;

$panel-heading-padding: 15px;

$panel-default-border: $gray-lighter;
$panel-default-heading-bg: #fff;

$panel-secondary-text: #fff;
$panel-secondary-border: $brand-secondary;
$panel-secondary-heading-bg: $brand-secondary;
$panel-secondary-link-color: $brand-secondary;
$panel-secondary-link-hover-color: darken($brand-secondary, 15%);

$panel-success-text: #fff;
$panel-success-border: $brand-success;
$panel-success-heading-bg: $brand-success;
$panel-success-link-color: $brand-success;
$panel-success-link-hover-color: darken($brand-success, 15%);

$panel-info-text: #fff;
$panel-info-border: $brand-info;
$panel-info-heading-bg: $brand-info;
$panel-info-link-color: $brand-info;
$panel-info-link-hover-color: darken($brand-info, 15%);

$panel-warning-text: #fff;
$panel-warning-border: $brand-warning;
$panel-warning-heading-bg: $brand-warning;
$panel-warning-link-color: $brand-warning;
$panel-warning-link-hover-color: darken($brand-warning, 15%);

$panel-danger-text: #fff;
$panel-danger-border: $brand-danger;
$panel-danger-heading-bg: $brand-danger;
$panel-danger-link-color: $brand-danger;
$panel-danger-link-hover-color: darken($brand-danger, 15%);


$navbar-default-bg: #fff;
$navbar-default-color: $gray;
$navbar-default-border: $gray-lighter;
$navbar-default-link-color: $gray;
$navbar-default-link-active-bg: $gray-lighter;
$navbar-default-link-active-color: $gray-dark;

$navbar-inverse-bg: $gray-dark;
$navbar-inverse-link-color: #fff;
$navbar-inverse-link-hover-bg: $gray-darker;
$navbar-inverse-link-hover-color: $brand-primary;

$state-success-text: #fff;
$state-success-bg: $brand-success;
$alert-success-border: darken($brand-success, 5%);

$text-muted: $gray;

$dropdown-link-disabled-color: #ccc;


$ps-border-radius: 0;

$ps-rail-default-opacity: 0;
$ps-rail-container-hover-opacity: 0.2;
$ps-rail-hover-opacity: 1;

$ps-bar-bg: transparent !default;
$ps-bar-container-hover-bg: $brand-secondary;
$ps-bar-hover-bg: $brand-secondary;
$ps-rail-hover-bg: transparent;

$ps-scrollbar-y-rail-right: 0;
$ps-scrollbar-y-rail-width: 4px;
$ps-scrollbar-y-right: 2px;
$ps-scrollbar-y-width: 4px;
$ps-scrollbar-y-hover-width: 4px;