// Wrappers
#wrapper {
    width: 100%;
    min-height: 100vh;
    background: $brand-secondary;
}

#page-wrapper-sidebar {
    .page-wrapper {
        padding: 15px 0;
        position: relative;
        background: $gray-light;

        .page-title {
            margin: -15px -15px 15px -15px;
            padding: 15px;
            background: $gray-lighter;

            h1 {
                margin: 0;
                font-size: 18px;
                color: $gray;
            }

            .btn-back {
                margin: 15px 0 0 0;
            }
        }
    }
}

#page-wrapper-fluid {
    background: $brand-secondary;
    height: 100vh;

    .page-wrapper {
        .page-brand {
            display: block;
            padding: 25px;
            text-align: center;
            color: #fff;

            img {
                display: block;
            }

            span {
                display: block;
                margin: 10px 0 0;
            }
        }

        .page-footer {
            color: #fff;

            a {
                color: #fff;
            }
        }
    }
}

@media(min-width:768px) {

    #page-wrapper-sidebar {
        .navbar-top {
            padding: 0 0 0 250px;
        }

        .page-wrapper {
            margin: 0 0 0 250px;
            padding: $navbar-height + 30px 15px 0;
            min-height: 100vh;

            .page-title {
                margin: -30px -30px 15px -30px;
                padding: 15px 30px;

                h1 {
                    font-size: 24px;
                }
            }
        }
    }

    #page-wrapper-fluid {
        .page-wrapper {
            padding: $navbar-height + 30px 30px 30px 30px;
        }
    }

}